## Parsing the ASOS data files

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
from metpy.io import parse_metar_to_dataframe
import glob

In [2]:
def parse_metar_file(file, wx_subset=True):
    """
    Parses METAR file from NCDC
    Input:
    --------
    file = Text file downloaded from NCDC
    wx_subset = Flag to determine whether or not to drop non-current weather obs (if True, only returns obs with observed weather)
    Output:
    --------
    df = Pandas dataframe filtered for times where current weather is not 'nan'
    
    Written by Max Grover (GitHub: @mgrover1)
    """

    # Read in the file using Pandas
    df = pd.read_csv(file, header=None)

    # Pull the timestamp from the filename
    timestamp = datetime.strptime(file[-10:], '%Y%m.dat')

    # Iterrate over rows to parse METARS
    df_list = []
    for index, row in df.iterrows():
        try:
            df_list.append(parse_metar_to_dataframe(row.values[0][52:], year=timestamp.year, month=timestamp.month))
        except:
            print('Error with METAR: ', row.values[0][52:])
    #
    merged_df = pd.concat(df_list)

    # Drop datasets that do not include current weather
    merged_df = merged_df.dropna(subset=['current_wx1'])

    # Change the index to datetime
    merged_df.index = merged_df.date_time

    # Return the merged dataset sorted by datetime
    return merged_df.sort_index()

In [3]:
# Find all files in the data directory
files = sorted(glob.glob('./data/*.dat'))

In [4]:
# Create a list to store the dataframes in
merged_datasets = []

In [16]:
%%time
# Loop through and parse the different datasets
for file in files:
    print(file[-10:-4])
    try:
        merged_datasets.append(parse_metar_file(file))
    except:
        print("Error with :", file[-10:-4])

200001

/Users/davidlafferty/anaconda3/lib/python3.7/site-packages/metpy/calc/basic.py:1011: RuntimeWarning: All-NaN slice encountered
  if np.greater(np.nanmax(np.abs(value)), max_radians):

200002
200003
200004
200005
200006
200007
200008
200009
200010
Error with METAR:   KDBQ EW001 07/06 A3021  810 96 0 030/08 RMK AO2
200011
Error with METAR:   KDBQ 15N KDBQ 150815Z AUTO 25010KT 8SM CLR M07/M09 A29991010 88 -1400 250/10 RMK AO2 TSNO
200012
200101
200102
200103
200104
200105
Error with METAR:   KDBQ SLP123 T00890072 TSNO
200106
200107
200108
Error with METAR:   KDBQ 091510900 240/13 RMK AO2
200109
200110
200111
Error with METAR:   KDBQ 220649 1200 82 200 170/06 RMK AO2 TSNO $
200112
Error with METAR:   KDBNO
Error with METAR:   KDSM BR OVC006 01/M01 A2990 1100 92 -300 290/11 RMK AO2
200201
Error with METAR:   KDBQ 121300Z
200202
200203
200204
200205
200206
200207
200208
200209
200210
200211
200212
200301
200302
200303
200304
200305
200306
200307
200308
200309
200310
200311
200312
200401
200402
200403
200404
200405
200406
200407
200408
Error with METAR:   RA BR SCT003 OVC021 21/21 A2983 1160 100 2200 040/09 RMK AO2 P0005 TSNO
200409
200410
200411
200412
200501
200502
Error with METAR:   005KT 8SM CLR M02/M05 A2989 1110 81  -600 020/05 RMK AO2 SLP134 T10221050 10000 21033 58003
Error with METAR:   KDBQ 12090 003KT 5SM BR CLR M03/M04 A2991 1090  88 -700 210/03 RMK AO2
Error with METAR:   KDBQ 126 2315Z 15005KT 8SM CLR 04/01 A2986 1140 76 200 140/05 RMK AO2
Error with METAR:  4  SLP112 T00280011 TSNO
Error with METAR:   KDBQ 1347  KDBQ 131525Z 10014G21KT 2 1/2SM -RA BR OVC009 03/02 A2971 1270 92 200 100/14G21 RMK AO2 CIG 006V011 P0001
Error with METAR:   KDBQ 133  1 1/4SM -RA BR OVC005 03/03 A2968 1300 96 200 100/14G20 RMK AO2 CIG 003V007 P0003
Error with METAR:  0028 10033 20028 58004
Error with METAR:  2  P0001
Error with METAR:   O2
Error with METAR:   KDBQ 14
Error with METAR:   -700 330/13 RMK AO2 SLP191 T10111050 TSNO
Error with METAR:   KDBQ 16006
Error with METAR:   KDBQ 16-800 330/12 RMK AO2 TSNO
Error with METAR:  02/16/05 19:50:31  5-MIN KDBQ 170150Z AUTO 27006KT 10SMSCT037 BKN060M03/M07 A3009 930 74 -1000 270/06 RMK AO2 SLP203 T10331072 TSNO
Error with METAR:  AO2 TSNO
Error with METAR:   KDBQ 17SM CLR M11/M16 A3017 850 67  -2000 290/07 RMK AO2
Error with METAR:   KDBQ 17 KDBQ 172020Z 32017G21KT 10SM BKN040 M02/M09 A3014870 55 -900 320/17G21 RMK AO2
Error with METAR:   KDBQ 18 65 008KT 10SM CLR M06/M10 A3018 840 71  -1400 350/08 RMK AO2
Error with METAR:  61 T10781133 TSNO
Error with METAR:  /09 RMK AO2 SLP276 T11061178 TSNO
Error with METAR:   KDBQ 18CLR M12/M17 A3030 730 64 -2300 360/06 RMK AO2 TSNO
Error with METAR:  TO 01005KT 10SM CLR M12/M18 A3030 730 64 -2400 010/05 RMK AO2 TSNO
Error with METAR:  M18 A3031 720 63 -2500 010/08 RMK AO2 SLP286 T11281183 TSNO
Error with METAR:   KDBQ 18003KT 10SM CLR M12/M18 A3037 670 64  -2500 330/03 RMK AO2
Error with METAR:  90 84 -1700 200/04 RMK AO2
Error with METAR:  1815Z 20005KT 10SM OVC085 01/M07 A3025 770 56 -600 200/05 RMK AO2
Error with METAR:   KDBQ 1964 -500 120/09 RMK AO2
Error with METAR:  C005 M01/M02 A3003 980 92 -600 140/16 RMK AO2 P0001 TSNO
Error with METAR:   KDBQ 20
Error with METAR:   KDBQ 20SM BR OVC003 00/M01  A2987 1130 96 -300 130/12 RMK AO2 CIG 003V007 TSNO
Error with METAR:  0/00 A2980 1190 100 -300 110/07 RMK AO2 UPB48FZRAE05 SLP104 P0000 T00000000
Error with METAR:   AO2 SLP092 P0006 T00061006
Error with METAR:  968 1300 96 -100 010/04 RMK AO2 UPE17RAB02E14 CIG 001V006 P0000
Error with METAR:   KDBQ 200/05 RMK AO2
Error with METAR:   KDBQ 20/00 A2971 1280 96 -100 340/07 RMK AO2
Error with METAR:   KDBQ 21AO2 CIG 007V010 SLP164 T10171039
Error with METAR:   KDBQ 21000 000 72 -400 280/07 RMK AO2
Error with METAR:   KDBQ 222 006KT 5SM BR FEW070 SCT120 M06/M08 A3021 820 84 -1400 340/06 RMK AO2 SLP244 T10561078
Error with METAR:  2
Error with METAR:  63 61
Error with METAR:  20 1077 -1500 010/08 RMK AO2
Error with METAR:   69 M CLR M02/M07 A3019 830 69 -900 000/00 RMK AO2 SLP240 T10171067 10006 21017 57024
Error with METAR:  02/23/05 18:20:31  5-MIN KDBQ 240020Z 00000KT 10SM FEW036 M02/M07 A3019 830  66 -900 000/00 RMK AO2
Error with METAR:  /05 RMK AO2 TSNO
Error with METAR:   KDBQ 24 850 81 -1300 000/00 RMK AO2 TSNO
Error with METAR:  009 009 920 81 -800 200/05 RMK AO2 TSNO
Error with METAR:   A3003 980 85 -700 210/06 RMK AO2 TSNO
Error with METAR:   O 1000 81 -600 280/09 RMK AO2 TSNO
Error with METAR:   KDBQ 25095 M02/M04 A3000 1000 85 -800 240/04 RMK AO2
Error with METAR:  02/26/05 15:10:31  5-MIN KDBQ 262110Z 11011KT 10SM OVC027 02/M04 A3024 790 66 -600 110/11 RMK AO2
Error with METAR:   KDBQ 27 840 75 -900 120/13 RMK AO2 TSNO
Error with METAR:   KDBQ 27014 /12 RMK AO2 TSNO
Error with METAR:
Error with METAR:  1 15 RMK AO2
Error with METAR:  1 A2988 1110 76 0 170/18 RMK AO2
Error with METAR:   O22150Z 19008KT 5SM HZ BKN025 04/01 A2980 1190 76 200 190/08 RMK AO2 SLP103 T00440006
Error with METAR:   KDBQ 27 O21190 76 200 190/07 RMK AO2
Error with METAR:   KDBQ 281  5-MIN KDBQ 280210Z AUTO 33015KT 2SM BR OVC002 M01/M02A2981 1180 96 -400 330/15 RMK AO2 TSNO
Error with METAR:  00 330/15 RMK AO2 TSNO
Error with METAR:   0525Z AUTO 35015G23KT 7SM SCT020 BKN060 OVC090 M05/M07 A2975 1240 84 -800 350/15G23 RMK AO2 SNE10 P0000 TSNO
200503
Error with METAR:   KDBQ 021  5-MIN KDBQ 021500Z VRB03KT 10SM CLR M07/M16 A3014 880 49 -1600 VRB/03 RMK AO2
Error with METAR:   41 1600Z 04009KT 10SM CLR M06/M17 A3014 870 41  -1400 040/09 RMK AO2
Error with METAR:   KDBQ 02000KT 10SM CLR M02/M15 A3011 910 37  -900 000/00 RMK AO2
Error with METAR:  860 64 -1700 110/06 RMK AO2 TSNO
Error with METAR:  03/03/05 05:55:31  5-MIN KDBQ 031155Z 00000KT 10SM CLR M10/M14 A3016 860 73  -2000 000/00 RMK AO2 SLP230 T11001139 11078 21106 56002
200504
200505
Error with METAR:   KDBQ 0920m A29718G22KT 10SM BKN090 23/13 A2970  1280 55 2500 220/18G22 RMK AO2 PK WND 22026/1956
Error with METAR:   KDBQ 092120 A29718KT 10SM FEW049 BKN060 BKN090  21/12 A2970 1290 56 2300 220/18 RMK AO2
Error with METAR:   KDBQ 09213186KT 10SM SCT0KNBKN06KN060 OVC095  21/12 A2970 1280 2300 22300 210/16 RMK AO2
200506
Error with METAR:   KDBQ 11080007K09KT 10SM BKN119/18 A29879/18 A2987 1130 90 1900 180/09 RMK AO2 TSNO
Error with METAR:   KDBQ 110820120 19/18T 10SM SCT6  1130 90 201140 90 2000 180/09 RMK AO2 TSNO
Error with METAR:   KDBQ 110830KT 10SM FEW1KT 9SM CLR 19/18 A2986 1130
Error with METAR:   KDBQ 150T0175Z AUTO 2901 22970  8/16 A2970
Error with METAR:   KDBQ 1810L5Z AUTO 18005KT 10SM CLR 12/10 A3004 970 86 900 170/05 RMK AO2 TSNO
200507
200508
200509
200510
200511
200512
200601
200602
200603
200604
200605
200606
200607
200608
200609
200610
200611
200612
200701
200702
200703
200704
200705
200706
200707
200708
200709
200710
200711
200712
200801
200802
200803
200804
200805
200806
200807
200808
200809
200810
200811
200812
200901
200902
200903
200904
200905
200906
200907
200908
200909
200910
200911
200912
201001
201002
201003
201004
201005
201006
201007
201008
201009
Error with METAR:   KDBQ 082320Z7/09 A3011 900 60 1400 360/04 RMK AO2
201010
201011
201012
201101
201102
201103
201104
201105
201106
201107
Error with : 201107
201108
201109
201110
201111
201112
201201
201202
201203
201204
201205
201206
201207
201208
201209
201210
201211
201212
201301
201302
Error with METAR:   KDBQ 27160%Z 36012KT 2 1/2SM -SN BR OVC010 M01/M02 A2968 1300 92 -300 360/12 RMK AO2 CIG 006V013 P0000
Error with METAR:   KDBQ 27165 Z 35012KT 2 1/2SM -SN BR BKN010 OVC017
201303
Error with : 201303
201304
201305
201306
201307
201308
201309
201310
201311
201312
201401
201402
201403
201404
201405
201406
201407
201408
201409
201410
201411
201412
201501
201502
201503
201504
201505
201506
201507
201508
201509
201510
201511
201512
201601
201602
201603
201604
201605
201606
201607
201608
201609
201610
201611
201612
201701
201702
201703
201704
201705
201706
201707
201708
201709
201710
201711
201712
201801
201802
201803
201804
201805
201806
201807
201808
201809
201810
201811
201812
Error with : 201812
201901
201902
201903
201904
Error with METAR:
201905
201906
201907
201908
201909
201910
Error with : 201910
201911
201912
CPU times: user 8h 12min 34s, sys: 2min 22s, total: 8h 14min 57s
Wall time: 8h 20min 39s

In [17]:
# Return the cleaned dataset
clean_df = pd.concat(merged_datasets)

In [18]:
clean_df.head()

,station_id,latitude,longitude,elevation,date_time,wind_direction,wind_speed,current_wx1,current_wx2,current_wx3,...,cloud_coverage,air_temperature,dew_point_temperature,altimeter,present_weather,past_weather,past_weather2,air_pressure_at_sea_level,eastward_wind,northward_wind
date_time,,,,,,,,,,,,,,,,,,,,,
2000-01-01 00:00:00,KDBQ,42.4,-90.7,326,2000-01-01 00:00:00,260.0,9.0,BR,NaN,NaN,...,8,-6.0,-8.0,29.92,10,0,0,NaN,8.863270,1.562834e+00
2000-01-01 00:05:00,KDBQ,42.4,-90.7,326,2000-01-01 00:05:00,260.0,12.0,BR,NaN,NaN,...,8,-6.0,-8.0,29.92,10,0,0,NaN,11.817693,2.083778e+00
2000-01-01 00:10:00,KDBQ,42.4,-90.7,326,2000-01-01 00:10:00,270.0,10.0,BR,NaN,NaN,...,8,-6.0,-8.0,29.92,10,0,0,NaN,10.000000,1.836970e-15
2000-01-01 00:15:00,KDBQ,42.4,-90.7,326,2000-01-01 00:15:00,270.0,13.0,BR,NaN,NaN,...,8,-6.0,-8.0,29.92,10,0,0,NaN,13.000000,2.388061e-15
2000-01-01 00:20:00,KDBQ,42.4,-90.7,326,2000-01-01 00:20:00,260.0,12.0,BR,NaN,NaN,...,8,-6.0,-8.0,29.92,10,0,0,NaN,11.817693,2.083778e+00

In [19]:
clean_df.to_csv('./data_clean.csv')